[submodule "acoustic_iso_lib/external/ioLibs"]
	path = acoustic_iso_lib/external/ioLibs
	url = http://cees-gitlab.Stanford.EDU/SEP-external/sep-iolibs.git
[submodule "acoustic_iso_lib/external/pySolver"]
	path = acoustic_iso_lib/external/pySolver
	url = http://cees-gitlab.stanford.edu/ettore88/python-solver.git
